@(results: Map[org.apache.accumulo.core.data.Key,org.apache.accumulo.core.data.Value])

<strong>Attributes found:</strong> @results.size()
<table class="table table-striped">
    <thead>
    <tr><th>Key</th><th>Col Fam</th><th>Col Qual</th><th>Visibility</th><th>Value</th></tr>
    </thead>
    <tbody>
    @if(results.isEmpty()) {
    <tr><td colspan="5">No records found / not authorized</td></tr>
    }

    @for( (key, value) <- results ) {
    <tr><td><a href='#' class="btn btn-link">@key.getRow()</a></td><td>@key.getColumnFamily()</td><td>@key.getColumnQualifier()</td><td>@key.getColumnVisibility()</td><td>@value</td></tr>
    }
    </tbody>
</table>
