@(tables: SortedSet[String], usernames: Set[String], myForm: Form[TableView], results: Map[org.apache.accumulo.core.data.Key,org.apache.accumulo.core.data.Value], roles: String, table: String, lastRow: String)
@import helper.twitterBootstrap._


@main("Accumulo Dashboard") {

    @if(myForm.hasErrors) {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Please select a table to view
        </div>
    }
    @if(flash.contains("success")) {
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @flash.get("success")
    </div>
    }

    <h3>Tables</h3>

    @helper.form(action = routes.Application.createTable(), 'class -> "form-inline") {
        <input type="text" class="input-medium" placeholder="New table name" name="tableName">
        <button type="submit" class="btn">Create Table</button>
        <a href="@routes.Application.generateIndexedDummyData()" class="pull-right btn btn-link">Generate Indexed Dummy Data</a>
    }

    @helper.form(action = routes.Application.viewTable(), 'class->"form-inline") {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="5%">Select</th>
                    <th>Name</th>
                    <th width="15%">Actions</th>
                </tr>
            </thead>
            <tbody>
            @if(tables.isEmpty()) {
                <tr><td colspan="3">No tables</td></tr>
            }
            @for( table <- tables ) {
                <tr>
                    <td><input type="radio" name="selectedTable" value="@table" @if(table.equals(myForm("selectedTable").value())){CHECKED}></td>
                    <td>@table</td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
            }
            </tbody>
        </table>

        <h4>Authorized User</h4>
        <div class="input">
            <select name="username">
                @for(u <- usernames) {
                    <option value="@u" @if(u.equals(myForm("username").value())) {SELECTED}>@u</option>
                }
            </select>
            <input type="submit" class="btn btn-primary" value="View Table Data">
        </div>
    }

    @if(myForm("selectedTable").value() != null && !myForm("selectedTable").value().isEmpty()) {
    <hr>
    <h3>@myForm("selectedTable").value() <small>(Username: @myForm("username").value() / Roles: @roles)</small></h3>
    <strong>Attributes found:</strong> @results.size()

    <table class="table table-striped">
        <thead>
            <tr><th>Key</th><th>Col Fam</th><th>Col Qual</th><th>Visibility</th><th>Value</th><th>Paginate</th></tr>
        </thead>
        <tbody>
            @if(results.isEmpty()) {
                <tr><td colspan="6">No records found / not authorized</td></tr>
            }

            @for( (key, value) <- results ) {
                <tr>
                    <td><a href='@routes.Application.getRecord(myForm("username").value(), myForm("selectedTable").value(), key.getRow().toString())' class="btn btn-link">@key.getRow()</a></td>
                    <td>@key.getColumnFamily()</td>
                    <td>@key.getColumnQualifier()</td>
                    <td>@key.getColumnVisibility()</td>
                    <td>@value</td>
                    <td><a class="btn btn-link" href="@routes.Application.viewTableLastRow(table, key.getRow().toString())">@key.getRow()</a></td>
                </tr>
            }

        </tbody>
    </table>
    }
}
