@(username: String, roles: Set[String])

@main("Accumulo") {

    <h3>@username</h3>

    @helper.form(action = routes.Application.addRole(username), 'class->"form-inline") {
    <div class="control">
        <input type="text" class="input input-medium" name="role" placeholder="new role">
        <input type="submit" class="btn btn-primary" value="Add Role">
    </div>
    }

    <table class="table table-striped">
        <thead>
            <tr><th>Role</th><th>Action</th></tr>
        </thead>
        <tbody>
        @if(roles.isEmpty()) {
        <tr>
            <td colspan="2">This user has no roles</td>
        </tr>
        }
        @for( role <- roles) {
            <tr>
                <td>@role</td>
                <td><a href="@routes.Application.removeRole(username, role)" class="btn btn-danger">Remove</a></td>
            </tr>
        }

        </tbody>
    </table>
}
