@(usernames: Map[String,String])

@main("Accumulo") {

    @if(flash.contains("auth-success")) {
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @flash.get("auth-success")
    </div>
    }
    @if(flash.contains("auth-failure")) {
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @flash.get("auth-failure")
    </div>
    }

    <h3>System Users</h3>

    @helper.form(action = routes.Application.createUser(), 'class->"form-inline") {
    <div class="control">
        <input type="text" class="input input-medium" name="username" placeholder="username">
        <input type="password" class="input input-medium" name="password" placeholder="password">
        <input type="submit" class="btn" value="Create User">
    </div>
    }

    <table class="table table-striped">
        <thead>
            <tr><th>Username</th><th>Roles</th><th width="20%">Actions</th></tr>
        </thead>
        <tbody>
        @for( (key, value) <- usernames ) {
            <tr>
                <td>@key</td>
                <td>@value</td>
                <td>
                    <a href="@routes.Application.getUser(key)" class="btn">Edit</a>
                    <a href="@routes.Application.deleteUser(key)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    @helper.form(action = routes.Application.authenticateUser(), 'class->"form-inline") {
    <legend>Authenticate User</legend>
    <div class="control">
        <input type="text" class="input input-medium" name="username" placeholder="username">
        <input type="password" class="input input-medium" name="password" placeholder="password">
        <input type="submit" class="btn btn-primary" value="Authenticate User">
    </div>
    }

}
