@(usernames: Set[String], username: String, table: String, rowId: String, results: Map[org.apache.accumulo.core.data.Key,org.apache.accumulo.core.data.Value])

@import tags._

@main("Accumulo") {
    <h2>@table <small>(Username: @username)</small></h2>

    @helper.form(action = routes.Application.getRecord(username, table, rowId)) {
        <h4>Change User</h4>
        <div class="input">
            <select name="username">
            @for(u <- usernames) {
                <option value="@u" @if(username.equals(u)) {SELECTED}>@u</option>
            }
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="View Row by User">
    }

    <hr>

    @accumuloTable(results)
}